:root{

font-family:Inter,sans-serif;

}

*{

margin:0;
padding:0;

box-sizing:border-box;

}

html,
body,
#root{

width:100%;
min-height:100vh;

}

body{

background:

radial-gradient(
circle at top,
rgba(212,175,55,.12),
transparent 35%
),

linear-gradient(
180deg,
#020305,
#060A14,
#040816
);

color:white;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

}